@model Models.Form.DateSelection
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Beestje op een feestje</h1>
            <p class="lead">Welkom bij Beestje op een feestje! Bij ons kun je beestjes huren voor op je feestjes. Voer hieronder een datum in en volg de stappen om een beestje te boeken.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "Er ging iets niet goed!", new { @class = "alert alert-danger no-list" })

                <div class="form-group">
                    @Html.LabelFor(x => x.BookingDate)<br />
                    @Html.EditorFor(x => x.BookingDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <input class="btn btn-success" type="submit" value="Boeken" />
            }
        </div>
        <div class="col-lg-6">
            <img src="images/field.png" alt="Veld met beestjes" />
        </div>
    </div>
</div>