@using Models
@model Models.Booking

<div class="card">
    <div class="card-header">
        Boeking
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-action="Index" asp-controller="Home">Geselecteerde datum</a><br/>
            @Model.Date.ToString("D")
        </li>
        <li class="list-group-item">
            @if (Model.Step >= BookingStep.Price)
            {
                <b>Geselecteerde beestjes</b>
            }
            else
            {
                <a asp-action="ShowAvailableBeestjes">Geselecteerde beestjes</a>
            }
            <div class="row">
                @foreach (var beestje in Model.BookingBeestjes)
                {
                    <div class="col-lg-4">
                        <img src="../../images/@(beestje.Beestje.Image == string.Empty ? "http://via.placeholder.com/200?text=Geen%20foto" : beestje.Beestje.Image)" class="card-img-top" alt="Foto van @beestje.Beestje.Name"/>
                    </div>
                }
            </div>
            @if (Model.BookingBeestjes.Count == 0)
            {
                <p>Je hebt op dit moment geen beestjes geselecteerd!</p>
            }
        </li>
        <li class="list-group-item">
            @if (Model.Step >= BookingStep.Price)
            {
                <b>Geselecteerde accessoires</b>
            }
            else
            {
                <a asp-action="ShowAvailableAccessories">Geselecteerde accessories</a>
            }
            <ul>
                @foreach (var accessoire in Model.BookingAccessoires)
                {
                    <li>@accessoire.Accessoire.Name</li>
                }
            </ul>
            @if (Model.BookingAccessoires.Count == 0)
            {
                <p>Je hebt op dit moment geen accessoires geselecteerd!</p>
            }
        </li>
        <li class="list-group-item">
            <b>Totaal excl. korting</b><br/>
            @((Model.BookingBeestjes.Sum(x => x.Beestje.Price) + Model.BookingAccessoires.Sum(x => x.Accessoire.Price)).ToString("C"))
        </li>
    </ul>
</div>