@model Models.Booking

@{
    ViewBag.Title = "Weet je het zeker?";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <h4>Weet je het zeker?</h4>
            </div>
            @using (Html.BeginForm("ConfirmDelete", "Booking", FormMethod.Post))
            {
                <div class="card-body">
                    <input asp-for="Id" type="hidden" name="Id"/>
                    Weet je zeker dat je deze boeking wilt verwijderen, dit kan niet ongedaan gemaakt worden!
                </div>
                <div class="card-footer text-right">
                    <input type="submit" value="Verwijderen" class="btn btn-danger"/>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-3">
        <partial name="_BookingDetails" model="Model"/>
    </div>
</div>